@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$family-sans-serif: "Nunito", sans-serif;
$primary: #247BA0;
$body-size: 15px;
$navbar-breakpoint: 768px;

@import "~@reform/components/sass/all";

