@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* { box-sizing: border-box; }

html {
    -webkit-font-smoothing: antialiased;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    max-width: 1024px;
    margin: 0 auto 50px;
}

hr {
    border: none;
    border-top: 1px solid #f0f0f0;
}

.code p b {
    font-size: 0.9rem;
    font-weight: normal;
    text-decoration: underline dashed;
}

.code pre {
    background: #fafafa;
    padding: 10px 15px;
}

.collapse {
    position: relative;
}

.collapse > .hide pre {
    opacity: .5;
    height: 100px;
    transition: opacity .3s ease-out;
    overflow: hidden;
}

.collapse > .show pre {
    transition: opacity .3s ease-in;
    height: auto;
    opacity: 1;
}

.collapse .footer {
    font-size: 0.8rem;
    text-align: right;
    padding: 5px;
}

.collapse .footer a {
    color: black;
    background: white;
    padding: 10px;
}

pre {
    font-size: 0.9rem;
}

form {
    border: 1px solid #f0f0f0;
    padding: 0 2rem;
    border-radius: 5px;
}

form label {
    display: block;
    margin: 15px 0;
}

form label span {
    display: inline-block;
    margin: 0 0 5px;
}

form label i {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: .9rem;

    opacity: .6;
    margin: 5px 0 0;
}

form footer {
    text-align: right;
    margin: 1rem 0;
}

.section, .title {
    padding: 10px 2rem 0;
}

.tilda {
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    color: darkred;
    background: #fafafe;
}

/* Controls */

[type=text],
[type=number],
[type=email],
[type=url],
select,
textarea {
    display: block;
    padding: .5rem;
    background: transparent;
    vertical-align: middle;
    width: 100%;
    max-width: 100%;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    font-size: .95rem;
}

[type=text]:focus,
[type=email]:focus,
[type=number]:focus,
[type=url]:focus,
select:focus,
textarea:focus {
    outline: none;
    border: 1px solid #1E6BD6;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAJCAYAAAA/33wPAAAAvklEQVQoFY2QMQqEMBBFv7ERa/EMXkGw11K8QbDXzuN4BHv7QO6ifUgj7v4UAdlVM8Uwf+b9YZJISnlqrfEUZVlinucnBGKaJgghbiHOyLyFKIoCbdvecpyReYvo/Ma2bajrGtbaC58kCdZ1RZ7nl/4/4d5EsO/7nzl7IUtodBexMMagaRrs+06JLMvcNWmaOv2W/C/TMAyD58dxROgSmvxFFMdxoOs6lliWBXEcuzokXRbRoJRyvqqqQvye+QDMDz1D6yuj9wAAAABJRU5ErkJggg==) 100% no-repeat;
    line-height: 1
}

label {
    font-weight: 600;
    font-size: .9rem;
    display: block;
    margin: .5rem 0;
}

button {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    margin: .25rem 0;
    padding: .5rem 1rem;
    border: 1px solid #1E6BD6;
    border-radius: 5px;
    background: #1E6BD6;
    color: white;
    font-weight: 600;
    text-decoration: none;
    font-size: .95rem;
}

button[type=reset] {
    border: 1px solid #cdcdcd;
    background: white;
    color: dimgray;
}

button[disabled] {
    border: 1px solid #e0e0e0;
    background: #fefefe;
    color: #cccc;
}

button.is-locked {
    border: 1px solid darkgreen;
    background: green;
    color: #fff;
}

form input.is-changed, form input.is-changed:focus {border: 1px solid green;}
form input.is-not-valid, form input.is-not-valid:focus {border: 1px solid red;}
form button.is-not-valid {color: red;}

/* table */
table {
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}

table tr td, table tr th {
    padding: 5px 15px;
    text-align: left;
}

table tr td {
    border: 1px solid #f0f0f0;
}
